[Desktop Entry]
Name=SVGWall
Exec=AppRun -j %f
Icon=svgwall
Type=Application
Categories=Utility;
Terminal=true
MimeType=image/svg+xml
Comment=SVG Wallpaper Utility for Xorg
X-AppImage-Name=SVGWall
X-AppImage-Version=20251031.1
X-AppImage-Arch=x86_64
